<!DOCTYPE html>
<html lang="en">

<head>
    <title>Página proyecto del cliente </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <div class="container">

        <!--Inicio del menu-->
        <menu></menu>
        <!--Fin del menu-->

        <!--Inicio del contenido de INICIO-->

        <div class="row">
            <div class="col">
                <h1 class="text-black mt-3 ms-4"> {{proyecto.nombre}}</h1>
            </div>
            <div class="col-1">
                <a [routerLink]="['/inicio',this.usuario._id]"><img class="mt-4" src="./assets/flecha-hacia-atras.png" alt="atras" width="50" height="50" /></a>
            </div>
        </div>

        <ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
            Información
          </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
            Tareas
          </button>
            </li>
        </ul>

        <!--Inicio de la información del proyecto-->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                    <div class="col-9 m-3">
                        <h2>Descripción</h2>
                        <section class="text-justify">
                         {{proyecto.descripcion}}
                        </section>

                    </div>
                </div>
                <!--Fin de la información del proyecto-->
            </div>
            <!--Inicio de las tareas del proyecto-->




            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <h2 class="m-3">Lista de tareas del proyecto</h2>
                <div class="row justify-content-end mt-3">
                    <div class="row">
                        <div class="col-9">
                            <div class="accordion" id="accordionExample">
                                <div *ngFor="let tarea of arrTareasProyecto; let indice = index;" class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <strong>{{tarea.nombre}}</strong>
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <h2>Descripción</h2>
                                                <p>{{tarea.descripcion}}</p>

                                            </div>
                                            <hr>
                                            <form #formImportanciaRequisito (ngSubmit)="updateImportancia(indice)">
                                                <div class="row">
                                                    <div class="col-5">
                                                        <span><strong>Introduzca la importancia de la tarea</strong></span>
                                                    </div>
                                                    <div class="col-2">
                                                        <div *ngFor="let importanciaBucle of arrTareasProyecto[indice].prioridad">


                                                            <input *ngIf="importanciaBucle.usuario == usuario._id" id="importancia" class="form-control" type="number" name="importancia" #importancia="ngModel" [(ngModel)] = "importanciaBucle.valor" placeholder="[1 - 5]" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row-2">
                                                    <button type="button" class="btn btn-success">Guardar</button>
                                                </div>
                                            </form>
                                         
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Fin de las tareas del proyecto-->
        </div>
        <!--Fin del contenido de INICIO-->
    </div>
</body>

</html>