<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pagina cliente principal</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <div class="container">
      <!--Inicio del menu-->
      <header class="row-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" [routerLink]="['/inicio']">
              <img src="./assets/logoB.png" alt="logo" width="200" height="100"
            /></a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="col navbar-nav mb-2 mb-lg-0 justify-content-lg-end">
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle text-black"
                    id="navbarDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Bienvenido, {{ usuario.nombre }}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Configuración</a></li>
                    <li>
                      <a class="dropdown-item" (click)="cerrarSesion()"
                        >Cerrar sesión</a
                      >
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>

      <!--Fin del menu-->
      <!--Inicio del contenido de INICIO-->

      <div class="row">
        <div class="col">
          <h1 class="text-black mt-3 ms-4">Nuevo proyecto</h1>
        </div>
        <div class="col-1">
          <a [routerLink]="['/inicio']"
            ><img
              class="mt-4"
              src="./assets/flecha-hacia-atras.png"
              alt="atras"
              width="50"
              height="50"
          /></a>
        </div>
      </div>

      <div class="row mt-3 ms-4">
        <div class="col-3 mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Nombre</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Nombre"
          />
        </div>
        <div class="row">
          <div class="col-5 mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"
              >Descripción del proyecto</label
            >
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="3"
            ></textarea>
          </div>
        </div>
      </div>

      <!-- Fecha inicio y ficha fin-->
      <div id="fechaInicioFin" class="row align-items-center mt-3 ms-4">
        <div class="col">
          <div class="col"></div>
          <div class="col">
            Fecha comienzo
            <input
              matInput
              [matDatepicker]="datepicker"
              placeholder="Elige una fecha"
              style="display: inline; width: 125px"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="datepicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
          </div>
        </div>

        <div class="col">
          <div class="col"></div>
          <div class="col">
            Fecha fin
            <input
              matInput
              [matDatepicker]="picker"
              placeholder="Elige una fecha"
              style="display: inline; width: 125px"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </div>
        </div>
      </div>
      <div class="row justify-content-end mt-4">
        <div class="col-3">
          <button
            type="button"
            class="btn btn-danger ms-5"
            [routerLink]="['/inicio']"
          >
            Cancelar
          </button>
          <button type="button" class="btn btn-success ms-3">Guardar</button>
        </div>
      </div>
      <!--Fin del contenido de INICIO-->
    </div>
  </body>
</html>
