<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pagina crear tarea jefe de proyecto</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <div class="container">

        <!--Inicio del menu-->
        <menu></menu>
        <!--Fin del menu-->

        <!--Inicio del contenido de INICIO-->

        <div class="row">
            <div class="col">
                <h1 class="text-black mt-3 ms-4">Nueva Tarea</h1>
            </div>
            <div class="col-1">
                <a [routerLink]="['/proyecto',proyecto._id]"><img class="mt-4" src="./assets/flecha-hacia-atras.png" alt="atras" width="50" height="50" /></a>
            </div>
        </div>

        <form #formCrearTarea="ngForm">
            <div class="row mt-3 ms-4 ">
                <div class="col-3 mb-3 ">
                    <label for="exampleFormControlInput1 " class="form-label ">Nombre de tarea </label>
                    <input type="text " class="form-control " id="exampleFormControlInput1 " name="nombre " #nombre="ngModel" [(ngModel)] = "requisito.nombre"  placeholder="Nombre " required />
                </div>
                <div class="row ">
                    <div class="col-5 mb-3 ">
                        <label for="exampleFormControlTextarea1 " class="form-label ">Descripción de la tarea </label>
                        <textarea class="form-control " id="exampleFormControlTextarea1 " name="descripcion" #descripcion="ngModel" [(ngModel)] = "requisito.descripcion"  rows="3 " required></textarea>
                    </div>
                </div>
                <div class="mt-3 row-3">
                    <label for="inputPassword" class="col-sm-2 col-form-label"><strong>Esfuerzo de la tarea</strong></label>
                    <div class="col-2">
                        <input class="form-control" type="number" name="coste" #coste="ngModel" [(ngModel)] = "requisito.coste" placeholder = "[1 - 10]"  required>
                  </div>
                  <div class="col-4 mt-2">
                    <span *ngIf = "0>=esfuerzoTarea || esfuerzoTarea > 10" style="color:red;">El esfuerzo de la tarea tiene que ser entre 1 y 10</span>
              </div>
                </div>
              

            </div>

            <!-- Fecha inicio y ficha fin-->
            <div id="fechaInicioFin " class="row align-items-center mt-3 ms-4 ">
                <div class="col ">
                    <div class="col "></div>
                    <div class="col ">
                        Fecha comienzo
                        <input matInput [matDatepicker]="datepicker " name="fechaInicio " #fechaInicio="ngModel" [(ngModel)] = "requisito.fechaInicio"  placeholder="Elige una fecha " style="display: inline; width: 125px " required />
                        <mat-datepicker-toggle matSuffix [for]="datepicker "></mat-datepicker-toggle>
                        <mat-datepicker #datepicker></mat-datepicker>
                    </div>
                </div>

                <div class="col ">
                    <div class="col "></div>
                    <div class="col ">
                        Fecha fin
                        <input matInput [matDatepicker]="picker " name="fechaFin "  #fechaFin="ngModel" [(ngModel)] = "requisito.fechaFin" placeholder="Elige una fecha " style="display: inline; width: 125px " required />
                        <mat-datepicker-toggle matSuffix [for]="picker "></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </div>
                </div>
            </div>

            <div class="row mt-5 ms-4 ">
                <div class="col-2">
                    <span>Añadir usuario a la tarea</span>
                </div>
                <div class="col-1">
                    <img id="addUsuario" src="./assets/add-user.png" alt="carpeta" width="55" height="55" style="cursor: pointer;" (click)="mostrarListaClientes()" />
                </div>
                <div class="row">
                    <div  class="col-7 ListaClientes">
                        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white mt-4" style="width: 380px;">
                            <div class="row">
                                <div class="col-8">
                                    <span class="fs-5 fw-semibold">Usuarios</span>
                                </div>
                             
                            </div>
                            <div class="list-group list-group-flush  scrollarea ">
                                <div *ngFor="let usuario of arrUsuariosProyecto; let indice = index" class="row m-3">
                                    <div class="col-10">
                                        <strong>{{usuario.nombre}} </strong>
                                    </div>
                                    <div class="col-2">
                                        <img id="addUsuario" src="./assets/addU.png" alt="cerrar lista" width="25" height="25" style="cursor: pointer;" (click)="addUsuario(indice)">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 ListaClientes">
                        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white mt-4" style="width: 380px;">
                            <div class="row">
                                <div class="col-6">
                                    <span class="fs-5 fw-semibold">Usuarios seleccionados</span>
                                </div>
                                <div class="col-3">
                                    <img id="eliminarUsuarios" src="./assets/quitar-usuario.png" alt="cerrar lista" width="40" height="40" style="cursor: pointer; margin-left: 88%;" (click)="deleteUsuario()">
                                </div>
                                <div class="col-3">
                                    <img id="cerrarLista" src="./assets/cancel.png" alt="cerrar lista" width="25" height="25" style="cursor: pointer; margin-left: 88%;" (click)="cerrarLista()">
                                </div>
    
                            </div>
                            <div class="list-group list-group-flush  scrollarea ">
                                <div *ngFor="let usuario of arrUsuariosAdd; let indice = index" class="row m-3">
                                    <div class="col-10">
                                        <strong>{{usuario.nombre}} </strong>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="row justify-content-end mt-4 ">
                <div class="col-3 ">
                    <button type="button " class="btn btn-danger ms-5 " [routerLink]="[ '/proyecto', proyecto._id] ">
              Cancelar
            </button>
                    <button class="btn btn-success ms-3 " type="submit " [disabled]="!formCrearTarea.form.valid " data-bs-toggle="modal" data-bs-target="#staticBackdrop">
             Crear
            </button>
                </div>
            </div>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                 <div class="modal-content">
                    <div class="modal-header">
                         <h2 class="modal-title" id="staticBackdropLabel">Crear tarea</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                     </div>
                <div class="modal-body">
                    <p>A continuación, ingrese los pesos aproximados que cree que le van a dar los usuarios a la tarea, 
                        para calcular la productividad de la tarea que se va a crear. </p>
                    <div class="list-group list-group-flush  scrollarea ">
                        <div *ngFor="let usuario of arrUsuariosAdd; let indice = index" class="row m-3">
                            <div class="col-10">
                                <strong>{{usuario.nombre}} </strong>
                                <label for="inputPassword" class="col-sm-10 col-form-label">Asigna un peso simulado al usuario</label>
                                <div class="col-sm-5">
                                    <input class="form-control" type="number" name="pesoSimulado" #pesoSimulado="ngModel" [(ngModel)] = "arrUsuariosAdd[indice].pesoSimulado" placeholder="[1 - 5]">
                              </div>
                              <div *ngIf="0>= arrUsuariosAdd[indice].pesoSimulado || arrUsuariosAdd[indice].pesoSimulado > 5"  class="col-sm-4 mt-2">
                                <span style="color: red;">El peso del usuario tiene que ser entre 1 y 5</span>
                              </div>
                            </div>
                        
                        </div>
                        <div >
                            <button type="button" class="btn btn-primary row m-3" (click)="calcularProductividadRequisito()" >Calcular productividad</button>
                        </div>
                        <div *ngIf = "productividadTarea != 0" >
                            <p>La productividad que supondrá la inclusión de esta tarea sería de {{productividadTarea}}</p>
                        </div>
                    </div>
             </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="crearRequisito()">Crear</button>
                    </div>
                </div>
            </div>
        </div>
        </form>

        <!--Fin del contenido de INICIO-->
    </div>
</body>

</html>