<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pagina crear tarea jefe de proyecto</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <div class="container">

        <!--Inicio del menu-->
        <menu></menu>
        <!--Fin del menu-->

        <!--Inicio del contenido de INICIO-->

        <div class="row">
            <div class="col">
                <h1 class="text-black mt-3 ms-4">Nueva Tarea</h1>
            </div>
            <div class="col-1">
                <a [routerLink]="['/proyecto',proyecto._id]"><img class="mt-4" src="./assets/flecha-hacia-atras.png" alt="atras" width="50" height="50" /></a>
            </div>
        </div>

        <form #formCrearTarea="ngForm">
            <div class="row mt-3 ms-4 ">
                <div class="col-3 mb-3 ">
                    <label for="exampleFormControlInput1 " class="form-label ">Nombre de tarea </label>
                    <input type="text " class="form-control " id="exampleFormControlInput1 " name="nombre " placeholder="Nombre " required />
                </div>
                <div class="row ">
                    <div class="col-5 mb-3 ">
                        <label for="exampleFormControlTextarea1 " class="form-label ">Descripción de la tarea </label>
                        <textarea class="form-control " id="exampleFormControlTextarea1 " name="descripcion " rows="3 " required></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <label for="exampleFormControlInput1 " class="form-label ">Esfuerzo de la tarea </label>
                        <select class="form-select" aria-label="Default select example">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option> 
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option> 
                        </select>

                    </div>
                </div>

            </div>

            <!-- Fecha inicio y ficha fin-->
            <div id="fechaInicioFin " class="row align-items-center mt-3 ms-4 ">
                <div class="col ">
                    <div class="col "></div>
                    <div class="col ">
                        Fecha comienzo
                        <input matInput [matDatepicker]="datepicker " name="fechaInicio " placeholder="Elige una fecha " style="display: inline; width: 125px " required />
                        <mat-datepicker-toggle matSuffix [for]="datepicker "></mat-datepicker-toggle>
                        <mat-datepicker #datepicker></mat-datepicker>
                    </div>
                </div>

                <div class="col ">
                    <div class="col "></div>
                    <div class="col ">
                        Fecha fin
                        <input matInput [matDatepicker]="picker " name="fechaFin " placeholder="Elige una fecha " style="display: inline; width: 125px " required />
                        <mat-datepicker-toggle matSuffix [for]="picker "></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </div>
                </div>
            </div>

            <div class="row mt-5 ms-4 ">
                <div class="col-2">
                    <span>Añadir usuario a la tarea</span>
                </div>
                <div class="col-1">
                    <img id="addUsuario" src="./assets/add-user.png" alt="carpeta" width="55" height="55" style="cursor: pointer;" (click)="mostrarListaClientes()" />
                </div>
                <div class="row">
                    <div  class="col-7 ListaClientes">
                        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white mt-4" style="width: 380px;">
                            <div class="row">
                                <div class="col-8">
                                    <span class="fs-5 fw-semibold">Usuarios</span>
                                </div>
                            </div>
                            <div class="list-group list-group-flush  scrollarea ">
                                <div *ngFor="let usuario of arrUsuarios; let indice = index" class="row m-3">
                                    <div class="col-10">
                                        <strong>{{usuario.nombre}} </strong>
                                    </div>
                                    <div class="col-2">
                                        <img id="addUsuario" src="./assets/addU.png" alt="cerrar lista" width="25" height="25" style="cursor: pointer;" (click)="addUsuario(indice)">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 ListaClientes">
                        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white mt-4" style="width: 380px;">
                            <div class="row">
                                <div class="col-8">
                                    <span class="fs-5 fw-semibold">Usuario seleccionado</span>
                                </div>
                                <div class="col-3">
                                    <img id="cerrarLista" src="./assets/cancel.png" alt="cerrar lista" width="25" height="25" style="cursor: pointer; margin-left: 88%;" (click)="cerrarLista()">
                                </div>
                            </div>
                            <div class="list-group list-group-flush  scrollarea ">
                                <div *ngFor="let usuario of arrUsuariosAdd; let indice = index" class="row m-3">
                                    <div class="col-10">
                                        <strong>{{usuario.nombre}} </strong>
                                    </div>
                                    <div class="col-2">
                                        <img id="deleteUsuario" src="./assets/menos.png" alt="" width="25" height="25" style="cursor: pointer;" (click)="deleteUsuario(indice)">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="row justify-content-end mt-4 ">
                <div class="col-3 ">
                    <button type="button " class="btn btn-danger ms-5 " [routerLink]="[ '/proyecto', proyecto._id] ">
              Cancelar
            </button>
                    <button class="btn btn-success ms-3 " type="submit " [disabled]="!formCrearTarea.form.valid ">
              Guardar
            </button>
                </div>
            </div>
        </form>

        <!--Fin del contenido de INICIO-->
    </div>
</body>

</html>