#navbarDropdown {
  font-size: 110%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dropdown-item {
  font-size: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#addTarea, #deleteTarea, #deleteUsuario,#addUsuario {
  transition: all 300ms;
}

#addTarea:hover, #deleteTarea:hover, #deleteUsuario:hover,#addUsuario:hover {
  transform: scale(1.1);
}
