<!DOCTYPE html>
<html lang="es">

<head>
    <title>Pagina cliente principal</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <div class="container">

        <!--Inicio del menu-->
        <menu></menu>
        <!--Fin del menu-->

        <!--Inicio del contenido de INICIO-->

        <div class="row">
            <div class="col">
                <h1 class="text-black mt-3 ms-4">{{proyecto.nombre}}</h1>
            </div>
            <div class="col-1">
                <a [routerLink]="['/inicio',usuario._id]"><img class="mt-4" src="./assets/flecha-hacia-atras.png" alt="atras" width="50" height="50" /></a>
            </div>
        </div>

        <ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
            Información
          </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
            Tareas
          </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">
           Usuarios participantes
          </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="priorizar-tab" data-bs-toggle="tab" data-bs-target="#priorizar" type="button" role="tab" aria-controls="priorizar" aria-selected="false">
          Priorizar tareas
          </button>
            </li>
        </ul>
        <!--Inicio de la información del proyecto-->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                    <div class="col-9 m-3">
                        <h2>Descripción</h2>
                        <section class="text-justify">
                            {{proyecto.descripcion}}
                        </section>

                    </div>

                    <div class="row m-2">
                        <div class="col-4">
                            <label for="fechaInicio"><strong>Fecha inicio:</strong></label>
                            {{proyecto.fechaInicio}}
                        </div>
                        <div class="col-4">
                            <label for="fechaInicio"><strong>Fecha fin:</strong></label>
                            {{proyecto.fechaFin}}
                        </div>
                    </div>
                   
                    <div class="row justify-content-end mt-4 ">
                        <div class="col-4">
                            <button type="button " class="btn btn-danger ms-3 " (click)="deleteProyecto()">
                      Eliminar proyecto
                    </button>
                            <button class="btn btn-success ms-3 " type="button " [routerLink]="['/editar-proyecto',proyecto._id]">
                     Editar proyecto
                    </button>
                        </div>
                    </div>

                    

                </div>
                <!--Fin de la información del proyecto-->
            </div>
            <!--Inicio de las tareas del proyecto-->
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <h2 class="m-3">Lista de tareas del proyecto</h2>
                <div class="row justify-content-end mt-3">
                    <div class="col-1">
                        <a [routerLink]="['/crear-tarea',proyecto._id]"><img id="addTarea" src="./assets/add.png" alt="carpeta" width="55" height="55" /></a>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div *ngIf = "arrTareasProyecto.length == 0" class="mt-3 text-center">
                                <h1>No hay ninguna tarea añadida en este proyecto</h1>
                              </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-9">
                            <ul class="list-group list-group-flush ms-3">
                                <li *ngFor="let tarea of arrTareasProyecto;let indice = index" class="list-group-item">
                                    <div class="row">
                                        <div class="col">
                                            <a [routerLink]="['/descripcion-tarea-cliente',proyecto._id,tarea._id]">{{tarea.nombre}}</a>
                                        </div>
                                        <div class="col">
                                            <img id="addTarea" src="./assets/borrar-tarea.png" alt="Borrar usuario" width="40" height="40" style="cursor: pointer; margin-left: 90%;" (click)="borrarRequisito(indice)" />
                                        </div>
                                    </div>
                                    </li>
                                    
                            </ul>
                        </div>
                    </div>



                </div>
            </div>
            <!--Fin de las tareas del proyecto-->

            <!--Inicio de los clientes del proyecto-->
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <h2 class="m-3">Lista de usuarios participantes del proyecto</h2>
                <div class="row justify-content-end mt-3">
                    <div class="col-1">
                        <img id="addUsuario" src="./assets/add-user.png" alt="carpeta" width="55" height="55" (click)="mostrarListaClientes()" style="cursor: pointer;" />
                    </div>



                    <div class="row">
                        <div class="col">
                            <div *ngIf = "arrUsuariosProyecto.length == 0" class="mt-3 text-center">
                                <h1>No participa ningún usuario en el proyecto</h1>
                              </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-9">
                            <ul class="list-group list-group-flush ms-3 scrollarea">
                                <li *ngFor="let usuarioProyecto of arrUsuariosProyecto;let indice = index" class="list-group-item">
                                <div class="row">
                                    <div class ="col">
                                        <strong>{{usuarioProyecto.nombre}}</strong>
                                    </div>
                                    <div class = "col">
                                        <strong>Contribución: </strong>
                                        <span>{{proyecto.contribuciones[indice].contribucion}}</span>
                                    </div>
                                    <div class = "col">
                                        <strong>Cobertura: </strong>
                                        <span>{{proyecto.coberturas[indice].cobertura}}</span>
                                    </div>
                                    <div class ="col">
                                        <img id="deleteUsuario" src="./assets/borrar-usuario.png" alt="Borrar usuario" width="40" height="40" style="margin-left: 90%; cursor: pointer;" (click)="deleteUsuarios(indice)" />
                                    </div>
                                </div>
                            </li>
                            </ul>
                        </div>

                        <div id="ListaClientes" class="col-3">
                            <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white mt-4" style="width: 380px;">
                                <div class="row">
                                    <div class="col-8">
                                        <span class="fs-5 fw-semibold">Lista usuarios</span>
                                    </div>
                                    <div class="col-3">
                                        <img id="cerrarLista" src="./assets/cancel.png" alt="cerrar lista" width="25" height="25" style="cursor: pointer; margin-left: 88%;" (click)="cerrarLista()">
                                    </div>


                                </div>

                                <div class="list-group list-group-flush  scrollarea ">
                                    <div *ngIf = "arrUsuariosDisponibles.length == 0" class="mt-4 text-center">
                                        <h2>Todos los usuarios posibles añadidos</h2>
                                      </div>
                                    <div *ngFor="let usuarioAdd of arrUsuariosDisponibles;" class="row m-3">
                                        <div class="col-10">
                                            <strong>{{usuarioAdd.nombre}} </strong>

                                        </div>
                                        <div class="col-2">
                                            <a [routerLink]="['/add-usuario-participante',proyecto._id,usuarioAdd._id]"><img id="addUsuario" src="./assets/addU.png" alt="cerrar lista" width="25" height="25" style="cursor: pointer;"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <!--Fin de la información del proyecto-->

            <!--Inicio de la configuracion del proyecto-->
            <div class="tab-pane fade show" id="priorizar" role="tabpanel" aria-labelledby="priorizar-tab">
                <div class="row">
                    <div class="col">
                        <h2 class="m-3">Priorize sus tareas del proyecto</h2>
                    </div>
                </div>

                <div *ngIf="proyecto.planificacion.length != 0" class="row mt-3 ms-3">
                    <h2>Productividad de las tareas del proyecto</h2>
                    <p>La productividad es {{proyecto.productividad}}</p>
            </div>

                <div *ngIf="proyecto.planificacion.length == 0" class="row mt-5 ms-3 text-center">
                    <h1>No se han priorizado aún las tareas del proyecto</h1>
                    <a [routerLink]="['/gestionar-tarea',proyecto._id]"><button type="button" class="btn">
                        <img id="priorizarTarea" src="./assets/time.png" alt="" width="60" height="60">
                       </button></a>
            </div>

                <div *ngIf = "proyecto.planificacion.length != 0" class="row mt-2 m-3">
                    <h2>Lista de tareas priorizadas <a [routerLink]="['/gestionar-tarea',proyecto._id]"><button type="button" class="btn">
                        <img id="priorizarTarea" src="./assets/time.png" alt="" width="60" height="60">
                       </button></a></h2>
                    
                   
                   
                    <table *ngIf="proyecto.planificacion.length != 0" class="table">
                        
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Fecha inicio</th>
                            <th scope="col">Fecha fin</th>
                            <th scope="col">Importancia</th>
                            <th scope="col">Esfuerzo</th>
                            <th scope="col">Productividad</th>
                          </tr>
                        </thead>
                        <tbody *ngFor="let tarea of proyecto.planificacion;let indice = index">
                          <tr>
                            <th scope="row">{{indice + 1}}</th>
                            <td >{{tarea.requisito.nombre}}</td>
                            <td >{{tarea.requisito.fechaInicio}}</td>
                            <td >{{tarea.requisito.fechaFin}}</td>
                            <td *ngIf= "tarea.importancia == 0">Sin importancia</td>
                            <td  *ngIf= "tarea.importancia != 0" >{{tarea.importancia}}</td>
                            <td >{{tarea.coste}}</td>
                            <td >{{tarea.importancia/tarea.coste}}</td>
                          
                          </tr>
                        </tbody>
                      </table>

                </div>
                <!--Fin de la configuracion del proyecto-->
            </div>
        </div>

        <!--Fin del contenido de INICIO-->
    </div>
</body>

</html>