<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pagina cliente principal</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <div class="container">
        <!--Inicio del menu-->
        <menu></menu>
        <!--Fin del menu-->

      <!--Inicio del contenido de INICIO-->

      <div class="row">
        <div class="col">
          <h1 class="text-black mt-3 ms-4">Mis Proyectos</h1>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col-1">
          <a [routerLink]="['/crear-proyecto']"
            ><img
              id="carpeta"
              src="./assets/carpeta.png"
              alt="añadir tarea"
              width="55"
              height="55"
          /></a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div *ngIf = "arrProyectos.length == 0" class="ms-3">
            <h2>No tienes ningún proyecto creado</h2>
          </div>
          <ul class="list-group list-group-flush ms-3">
              <li *ngFor = "let proyecto of arrProyectos" class="list-group-item">
                <a [routerLink]="['/proyecto',proyecto._id]">
                  {{proyecto.nombre}}
                </a>
            </ul>
            
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <h1 class="text-black mt-3 ms-4">Proyectos en los que participo</h1>
        </div>
      </div>
      <div *ngIf = "arrProyectosParticipo.length == 0" class="ms-3 text-center" >
        <h2>No participas en ningún proyecto</h2>
      </div>
     

      <!--Fin del contenido de INICIO-->
    </div>
  </body>
</html>
