<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pagina priorización de las tareas</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <div class="container">
        <!--Inicio del menu-->
        <menu></menu>
        <!--Fin del menu-->

        <div class="row">
            <div class="col">
                <h1 class="text-black mt-3 ms-4">Priorizar tareas - {{proyecto.nombre}}</h1>
            </div>
            <div class="col-1">
                <a [routerLink]="['/proyecto',proyecto._id]"><img class="mt-4" src="./assets/flecha-hacia-atras.png" alt="atras" width="50" height="50" /></a>
            </div>
        </div>
        <form #formPriorizarTareas="ngForm" (ngSubmit)="calcularPrioridad()">
            <div class="mt-3 ms-4 row">
                <label for="inputLimite" class="col-sm-2 col-form-label">Limite de esfuerzo </label>
                <div class="col-sm-3">
                    <input id="limite" class="form-control" type="number" placeholder="Introduzca un esfuerzo" required>
                    
              </div>
              <div *ngIf="0 >= limiteEsfuerzo" class="col-4 mt-2">
                <span style="color: red;">El limite de esfuerzo tiene que ser mayor que 0</span>
              </div>
              <div class="col-auto ms-5">
                <button  type="submit" class="btn btn-success mb-3" [disabled]="!formPriorizarTareas.form.valid" >Priorizar tareas</button>
              </div>
            </div>
           
          </form>

          <div *ngIf="tamanioListaTareas == 0" class="row mt-5 ms-3 text-center">
                  <h1>No hay tareas con esa limite de esfuerzo, por favor introduzca un limite de esfuerzo más alto</h1>
          </div>

          <div>
            
          </div>
          <div class="row justify-content-end mt-4 ">
            <div class="col-3 ">
                <button class="btn btn-success ms-3 " type="submit " (click)="updatePrioridad(proyecto.planificacion)">
          Guardar
        </button>
            </div>
        </div>
          <div *ngIf="proyecto.planificacion.length != 0" class="row mt-5 ms-3">
            <h1>Lista de tareas priorizadas</h1>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Fecha inicio</th>
                    <th scope="col">Fecha fin</th>
                    <th scope="col">Importancia</th>
                    <th scope="col">Esfuerzo</th>
                  </tr>
                </thead>
                <tbody *ngFor="let tarea of proyecto.planificacion;let indice = index">
                  <tr>
                    <th scope="row">{{indice + 1}}</th>
                    <td>{{tarea.requisito.nombre}}</td>
                    <td>{{tarea.requisito.fechaInicio}}</td>
                    <td>{{tarea.requisito.fechaFin}}</td>
                    <td *ngIf= "tarea.importancia == 0">Sin importancia</td>
                    <td  *ngIf= "tarea.importancia != 0" >{{tarea.importancia}}</td>
                    <td >{{tarea.coste}}</td>
                    <td><img class = "flecha" src="./assets/flecha-abajo.png" alt="Bajar tarea" width="30" height="30" style="cursor: pointer;" (click)="bajarTarea(indice)"></td>
                  </tr>
                </tbody>
              </table>

              <h2 class="mt-4">
                Lista de tareas que no cumplen el limite de esfuerzo
            </h2>

              <div *ngIf= "tareasFueraLimiteEsfuerzo.length == 0" class="mt-4">
               
                <h2 style="text-align: center;" class="mt-3">
                    Las tareas cumplen el límite de esfuerzo
                </h2>
            </div>

              <table *ngIf= "tareasFueraLimiteEsfuerzo.length != 0" class="table">
                
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Fecha inicio</th>
                    <th scope="col">Fecha fin</th>
                    <th scope="col">Importancia</th>
                    <th scope="col">Esfuerzo</th>
                  </tr>
                </thead>
                <tbody *ngFor="let tarea of tareasFueraLimiteEsfuerzo;let indice = index">
                  <tr>
                    <th scope="row">{{indice + 1}}</th>
                    <td >{{tarea}}</td>
                    <td >{{tarea.fechaInicio}}</td>
                    <td >{{tarea.fechaFin}}</td>
                    <td *ngIf= "tarea.importancia == 0">Sin importancia</td>
                    <td  *ngIf= "tarea.importancia != 0" >{{tarea.importancia}}</td>
                    <td >{{tarea.coste}}</td>
                    <td><img class = "flecha" src="./assets/flecha-arriba.png" alt="Bajar tarea" width="30" height="30" style="cursor: pointer;"(click)="subirTarea(indice)"></td>
                  </tr>
                </tbody>
              </table>
          
          </div>
    </div>
</body>

</html>