<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pagina crear tarea jefe de proyecto</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <div class="container">

        <!--Inicio del menu-->
        <menu></menu>
        <!--Fin del menu-->

        <!--Inicio del contenido de INICIO-->

        <div class="row">
          <div class="col">
              <h1 class="text-black mt-3 ms-4">{{requisito.nombre}}</h1>
          </div>
          <div class="col-1">
              <a [routerLink]="['/proyecto',proyecto._id]"><img class="mt-4" src="./assets/flecha-hacia-atras.png" alt="atras" width="50" height="50" /></a>
          </div>
      </div>
    
        <div class="row mt-3 ms-4 ">
            <div class="col-3 mb-3 ">
                <label for="exampleFormControlInput1 " class="form-label ">Nombre de tarea </label>
                <input type="text " class="form-control " value= {{requisito.nombre}} id="exampleFormControlInput1 " name="nombre " placeholder="Nombre " required />
            </div>

            <div class="row ">
                <div class="col-5 mb-3 ">
                    <h2>Responsables de la tarea</h2>
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Peso del usuario</th>
                            <th scope="col">Importancia asignada a la tarea</th>
                          </tr>
                        </thead>
                        <tbody *ngFor="let usuario of arrUsuariosResponsables;let indice = index">
                          <tr>
                            <th scope="row">{{indice + 1}}</th>
                            <td class="text-center">{{usuario.nombre}}</td>
                            <td class="text-center">En proceso</td>
                            <td *ngIf="requisito.prioridad[indice].valor == 0" class="text-center">Importancia sin asignar aún</td>
                            <td *ngIf="requisito.prioridad[indice].valor != 0" class="text-center">{{requisito.prioridad[indice].valor}}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
            
            <div class="row ">
                <div class="col-5 mb-3 ">
                    <label for="exampleFormControlTextarea1 " class="form-label ">Descripción de la tarea </label>
                    <textarea class="form-control " id="exampleFormControlTextarea1 " value= {{requisito.descripcion}} name="descripcion " rows="3 " required></textarea>
                </div>
            </div>
            
        </div>

        <!-- Fecha inicio y ficha fin-->
        <div id="fechaInicioFin " class="row align-items-center mt-3 ms-4 ">
            <div class="col ">
                <div class="col "></div>
                <div class="col ">
                    Fecha comienzo
                    <input matInput [matDatepicker]="datepicker " name="fechaInicio " value= {{requisito.fechaInicio}} placeholder="Elige una fecha " style="display: inline; width: 125px " required />
                    <mat-datepicker-toggle matSuffix [for]="datepicker "></mat-datepicker-toggle>
                    <mat-datepicker #datepicker></mat-datepicker>
                </div>
            </div>

            <div class="col ">
                <div class="col "></div>
                <div class="col ">
                    Fecha fin
                    <input matInput [matDatepicker]="picker " name="fechaFin " placeholder="Elige una fecha " value= {{requisito.fechaFin}}  style="display: inline; width: 125px " required />
                    <mat-datepicker-toggle matSuffix [for]="picker "></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </div>
            </div>
        </div>



        <div class="row justify-content-end mt-4 ">
      <div class="col-3 mt-2">
           <button type="button " class="btn btn-success ms-5 " [routerLink]="[ '/proyecto', proyecto._id] ">
               Modificar tarea 
                </button>
                <button type="button " class="btn btn-danger ms-5 mt-2 " (click) = "borrarRequisito()">
                    Terminar tarea
                     </button>

      </div>
</div>

        <!--Fin del contenido de INICIO-->
    </div>
</body>

</html>