<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pagina cliente principal</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <div class="container">

        <!--Inicio del menu-->
        <menu></menu>
        <!--Fin del menu-->

        <!--Inicio del contenido de INICIO-->
        <div class="row">
            <div class="col">
                <h1 class="text-black mt-3 ms-4">{{proyecto.nombre}}</h1>
            </div>
            <div class="col-1">
                <a [routerLink]="['/proyecto',proyecto._id]"><img class="mt-4" src="./assets/flecha-hacia-atras.png" alt="atras" width="50" height="50" /></a>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h2 class="mt-3 ms-5">Añadir usuario al proyecto</h2>
            </div>
        </div>

        <div class="mt-3 ms-5 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Usuario</label>
            <div class="col-sm-10 mt-2">
              <span >{{usuario.nombre}}</span>
            </div>
          </div>
          <form #formAddUsuario="ngForm" (ngSubmit)="anadirUsuarioProyecto()">
            <div class="mt-3 ms-5 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Peso del usuario</label>
                <div class="col-sm-1">
                    <input class="form-control" type="number" name="peso" #peso="ngModel" [(ngModel)] = "usuario.importancia" placeholder="[1 - 5]">
              </div>
            </div>
            <div class="col-auto mt-3 ms-5">
                <button  type="submit" class="btn btn-success mb-3" >Añadir usuario</button>
              </div>
          </form>
         
        <!--Fin del contenido de INICIO-->
        </div>
</body>

</html>
