.clearfix {
  float: none;
  clear: both;
}

/*Estilos cabecera*/
#header {
  width: 100%;
  min-height: 100px;
}

/*Estilos logo*/
#logo {
  width: 50%;
  margin: 0px auto;
  text-align: center;
}
#logo img {
  width: 110px;
  height: 110px;
  margin-top: 30px;
  margin-right: 70px;
  transition: all 1s;
}

#logo img:hover {
  transform: scale(1.2, 1.2);
}

/*Estilos titulo*/

#titulo {
  width: 75%;
  text-align: center;
  margin: 0px auto;
  margin-bottom: 30px;
}

#titulo h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 35px;
  background-color: rgb(187, 244, 248);
  padding: 5px;
  margin-top: 30px;
  margin-right: 30px;
  border-radius: 50px;
}

/*Estilos menu*/
#menu {
  margin: 0px auto;
  text-align: center;
}

#menu ul {
  margin-right: 60px;
}

#menu ul li {
  display: inline-block;
  list-style: none;
  margin: 0px 20px 0px 20px;
}

#menu ul li a {
  font-size: 25px;
  color: black;
  display: block;
  text-decoration: none;
  transition: 400ms;
}

#menu ul li a:hover {
  opacity: 0.5;
}
